@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@keyframes slide {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}

.animate-circle{
  animation: circle 0.5s 1 linear forwards;
  transform-origin: 50% 50%;
}

@keyframes circle {
  0% {
      transform: rotate(140deg) 
          translateX(250px) rotate(0deg);
  }

  100% {
      transform: rotate(175deg) 
          translateX(250px) rotate(90deg);
  }
}


.animate-circle1{
  animation: circle1 0.5s 1 linear forwards;
  transform-origin: 50% 50%;
}

@keyframes circle1 {
  0% {
      transform: rotate(150deg) 
          translateX(250px) rotate(0deg);
  }

  100% {
      transform: rotate(215deg) 
          translateX(250px) rotate(90deg);
  }
}


.animate-circle2{
  animation: circle2 0.5s 1 linear forwards;
  transform-origin: 50% 50%;
}

@keyframes circle2 {
  0% {
      transform: rotate(140deg) 
          translateX(250px) rotate(0deg);
  }

  100% {
      transform: rotate(60deg) 
          translateX(250px) rotate(90deg);
  }
}

.animate-circle4{
  animation: circle4 0.5s 1 linear forwards;
  transform-origin: 50% 50%;
}

@keyframes circle4 {
  0% {
      transform: rotate(0deg) 
          translateX(125px) rotate(0deg);
  }

  100% {
      transform: rotate(-60deg) 
          translateX(125px) rotate(90deg);
  }
}




.main-div:hover .revolving-div {
  animation-play-state: paused;
}
.animate-slide{
  animation: slide 15s linear infinite;
}



